<mat-list role="list">
   <p>titre:cours 1<br>
    description de cours 1<br>
    prix du cours 1<br>
    niveau debutant
</p>
<button>Confirmer</button>
  </mat-list>
  <mat-list role="list">
    <p>titre:cours 2<br>
     description de cours 2<br>
     prix du cours 2<br>
     niveau intermediaire
 </p>
 <button>Confirmer</button>
   </mat-list>
   <mat-list role="list">
    <p>titre:cours 3<br>
     description de cours 3<br>
     prix du cours 3<br>
     niveau avancé
 </p>
 <button>Confirmer</button>
   </mat-list>