<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Titre : Cours 1</mat-card-title>
      <mat-card-subtitle>Description de cours 1</mat-card-subtitle>
      <mat-card-subtitle> Prix du cours 1</mat-card-subtitle>
      <mat-card-subtitle> Niveau : Débutant</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions  align="end">
      <button >ajouter au panier</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Titre : Cours 2</mat-card-title>
      <mat-card-subtitle>Description de cours 2</mat-card-subtitle>
      <mat-card-subtitle> prix du cours 2</mat-card-subtitle>
      <mat-card-subtitle> Niveau : Intermediaire</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-actions align="end">
      <button >ajouter au panier</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Titre : Cours 3</mat-card-title>
      <mat-card-subtitle>Description de cours 3</mat-card-subtitle>
      <mat-card-subtitle>Prix du cours 3</mat-card-subtitle>
      <mat-card-subtitle>Niveau : Avancé</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-actions align="end">
      <button >ajouter au panier</button>
    </mat-card-actions>
  </mat-card>