<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> titre:cours 1</mat-card-title>
      <mat-card-subtitle>description de cours 1</mat-card-subtitle>
      <mat-card-subtitle> prix du cours 1</mat-card-subtitle>
      <mat-card-subtitle> niveau debutant</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions  align="end">
      <button >ajouter au panier</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>titre:cours 2</mat-card-title>
      <mat-card-subtitle>description de cours 2</mat-card-subtitle>
      <mat-card-subtitle> prix du cours 2</mat-card-subtitle>
      <mat-card-subtitle> niveau intermediaire</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-actions align="end">
      <button >Learn More</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>titre:cours 3</mat-card-title>
      <mat-card-subtitle>description de cours 3</mat-card-subtitle>
      <mat-card-subtitle> prix du cours 3</mat-card-subtitle>
      <mat-card-subtitle> niveau avancé</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-actions align="end">
      <button >Learn More</button>
    </mat-card-actions>
  </mat-card>